<% for (var i = 0; i < posts.length; i++) {
    var post = posts[i],
            link = '/post/' + post['id'] + '-' + post.get('slug');
%>

<article>
    <h2><a href="<%= link %>"><%= post.get('title') %></a></h2>

    <div class="row">
        <div class="col-sm-6 col-md-5">
            <span class="glyphicon glyphicon-bookmark"></span> <a href="#"><%= post.get('tags') %></a>
        </div>
        <div class="col-sm-6 col-md-7">
            <span class="glyphicon glyphicon-pencil"></span> <a href="/post/<%= post['id'] %>#comments">Comments</a>
            &nbsp;&nbsp;<span
                    class="glyphicon glyphicon-time"></span> <%= (post['createdAt'].toString()).substr(0, 25) %>
            by <%= post.get('user').getUsername() %>
            <!--<i class="fa fa-eye"></i> 1 views-->
        </div>
    </div>

    <hr>

    <a href="<%= link %>"><img src="<%= post.get('image') %>" class="img-responsive post-image"></a>

    <p class="lead"><%= post.get('body') %></p>
</article>

<% } if (title === 'Post') {
if (Parse.User.current()) { %>
<% include inc/comment.ejs %>

<% } else { %>

<div class="well">
    <p class="lead">
        <em>Please, <a href="/login">Login</a> or <a href="/register">Register</a> to make a comment.</em>
    </p>
</div>

<!-- Posted Comments -->
<% if(post.get('comment')) { %>

<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading"><%= post.get('comment').get('title') %>
            <small><%= (post.get('comment')['createdAt'].toString()).substr(0, 25) %></small>
        </h4>
        <%= post.get('comment').get('content') %>
    </div>
</div>

<% } } } else { %>

<hr>
<ul class="pager">
    <li class="previous"><a href="#">&larr; Previous</a></li>
    <li class="next"><a href="#">Next &rarr;</a></li>
</ul>
<hr>

<% } %>

